@media screen and (max-width:992px)
	header
		.contenedor_logo_menu
			.logo
				margin-bottom: 20px
				text-align: center
			.menu
				text-align: center
				a
					margin: 0 20px
		.textos
			margin: 50px 0
			font-size: 16px
			.primera_linea
				font-size: 1.5em
			.segunda_linea
				font-size: 1.3em
			.contenedor-btns
				a
					margin-bottom: 10px

	.main
		.fotos
			.foto
				.titulo
					margin-top: 0
		.clientes
			.cliente
				margin-bottom: 40px

@media screen and (max-width:768px)
	.main
		.caracteristicas
			.caracteristica
				margin-bottom: 40px
		.fotos
			.foto
				text-align: center
				.texto
					*
						text-align: left
					p
						margin-bottom: 10px
		.precios
			.precio
				margin-bottom: 20px

	footer
		.direccion
			text-align: center
			.logo
				img
					margin-top: 20px